[project]
	description = My first repository on GitHub.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Shivaprasadr
[access "refs/for/refs/*"]
	read = group user/Shivaprasadr
	push = group user/Shivaprasadr
	label-Code-Review = -2..+2 group user/Shivaprasadr
	label-Verified = -1..+1 group user/Shivaprasadr
	rebase = group user/Shivaprasadr
	removeReviewer = group user/Shivaprasadr
	submit = group user/Shivaprasadr
[access "refs/heads/*"]
	read = group user/Shivaprasadr
	create = group user/Shivaprasadr
	push = +force group user/Shivaprasadr
	pushMerge = group user/Shivaprasadr
[access "refs/tags/*"]
	push = +force group user/Shivaprasadr
	pushTag = group user/Shivaprasadr
	pushSignedTag = group user/Shivaprasadr
